@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {


  html {
    font-family: Montserrat, sans-serif;
  }

  body {
    overflow-x: hidden;
    background: white;
  }

  @media only screen and (max-width: 999px) {
    html {
      font-size: 87.5%;
    }
  }

}